<header id="header">
  <a href="/" class="logo"><strong>Massiles Ghernaout</strong> | Notes</a>
  <ul class="icons">
    <li><a href="https://www.linkedin.com/in/massigy" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
    <li><a href="https://www.github.com/MassiGy" class="icon brands fa-github"><span class="label">Github</span></a></li>
  </ul>
</header>